[submodule "apps/mlibc"]
	path = apps/mlibc
	url = git@git.b4yar.net:mlibc.git
[submodule "apps/busybox"]
	path = apps/busybox
	url = https://git.busybox.net/busybox.git
[submodule "apps/confuse"]
	path = apps/confuse
	url = git@git.b4yar.net:libconfuse.git
[submodule "apps/uACPI"]
	path = apps/uACPI
	url = git@git.b4yar.net:uACPI.git
[submodule "apps/readline"]
	path = apps/readline
	url = git@git.b4yar.net:readline.git
[submodule "apps/bash"]
	path = apps/bash
	url = git@git.b4yar.net:bash.git
